<ng-container *ngIf="state | async as state">
  <div class="container">
    <div class="content">
      <bz-loading *ngIf="state.loading; else content"></bz-loading>
      <ng-template #content>
        <div class="selection">
          <p-dropdown
            placeholder="Select a script"
            optionLabel="name"
            styleClass="dropdown"
            [options]="state.scripts"
            [(ngModel)]="selectedScript"
            (onChange)="onScriptChange()"
          ></p-dropdown>
          <div *ngIf="selectedScript" class="args">
            <p-dropdown
              *ngFor="let arg of selectedScript.args"
              optionLabel="originalname"
              styleClass="dropdown"
              (onChange)="onArgChange(arg, $event.value)"
              [options]="state.files"
              [placeholder]="arg.placeholderText"
            ></p-dropdown>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="actions">
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        class="p-button-secondary"
        [disabled]="state.loading"
        (click)="onCancel()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Run"
        [disabled]="
          state.loading ||
          !selectedScript ||
          (requiredNumArgs && numSelectedArgs < requiredNumArgs)
        "
        (click)="onRunScript()"
      ></button>
    </div>
  </div>
</ng-container>
