.map-container {
  height: 100%;
}

#map {
  height: 100%;

  ::ng-deep {
    .info {
      padding: 1rem;
      font: 16px/18px Arial, Helvetica, sans-serif;
      background: white;
      background: rgb(255 255 255 / 80%);
      box-shadow: 0 0 15px rgb(0 0 0 / 20%);
      border-radius: 5px;
    }

    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }
  }
}
