:host ::ng-deep {
  .p-fileupload {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .p-fileupload-content {
    flex-grow: 1;
    overflow: auto;
  }
}

.file-template {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  &__name {
    width: 65%;
    padding-right: 1rem;
  }

  &__size {
    padding-right: 1rem;
  }

  &__close {
    margin-left: auto;
  }
}
